.NavigationItems {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  list-style: none;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.NavigationItems a {
  text-decoration: none;
  padding-left: 2%;
}

@media (min-width: 500px) {
  .NavigationItems {
    flex-flow: row;
  }
}
@media (max-width: 500px) {
  .NavigationItems a {
    display: block;
    color: #8F5C2C;
    width: 100%;
    text-decoration: none;
    height: 100%;
    /* margin: 10px 0px; */
    border-bottom: 4px solid transparent;
  }
}
